table,
th,
td {
  border: 1px solid black;
}

table {
    border-collapse: collapse;
  }

th,
td {
    padding: 10px;
}

tr td:nth-child(3) {
    text-align: right;
}

tr:nth-child(even) {
    background-color: lightgray;
}